{% extends 'base.html.twig' %}

{% block title %}Hello MassageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/zen-mom/src/Controller/MassageController.php'|file_link(0) }}">src/Controller/MassageController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/zen-mom/templates/massage/massage.html.twig'|file_link(0) }}">templates/massage/index.html.twig</a></code></li>
    </ul>
</div>
<main id="massage">
    <section >
        
        <div class="first" id="massage1">
            <div ><img src="http://localhost/zenmom/zenmom-a-jour/images/abdos.jpg" alt="massage abdominal"></div>
        <div class="second">
                <h2>Abdominal massage</h2>
                <p>Le massage abdominal post-partum offre plusieurs avantages essentiels pour les femmes après l'accouchement. Il favorise la réduction de l'enflure abdominale, soulage les tensions musculaires post-partum, améliore la circulation sanguine dans la région pelvienne, et contribue à la réparation des tissus abdominaux. De plus, ce massage favorise une meilleure relaxation et réduit le stress, contribuant ainsi au rétablissement global de la nouvelle maman.
                    <br>à partir de 30€</p>
                    <button class="btn btnM" onclick="reserver('massage1','/images/abdos.jpg','massage Abdominal','Avec tous les pétrissages effectués sur votre corps, votre circulation sanguine sera stimulée. Le massage minceur cible spécifiquement les graisses et les zones en surpoids. Si vous avez de la cellulite, ils peuvent également s’efforcer de vous en débarrasser. Le massothérapeute travaillera à stimuler la circulation sanguine et lymphatique dans votre corps.')">Réserver</button>
            </div>
        </div>
        <div class="first" id="massage2">
            <div ><img src="http://localhost/zenmom/zenmom-a-jour/images/wombmassage.jpg" alt="massage utérus"></div>
        <div class="second">
                <h2>Womb massage</h2>
                <p>Le massage de l'utérus post-partum offre de multiples bienfaits aux nouvelles mères. Il contribue à réduire l'enflure utérine, apaise les douleurs après l'accouchement, et favorise l'élimination des déchets utérins. En stimulant les contractions utérines, il encourage un retour plus rapide à la forme normale de l'utérus. De plus, il aide à relâcher le stress et la tension, favorisant ainsi la détente des mamans en période post-partum.
                    <br>à partir de 30€</p>
                    <button class="btn btnM" onclick="reserver('massage2','/images/wombmassage.jpg','Womb Massage','Le massage de lutérus post-partum offre de multiples bienfaits aux nouvelles mères. Il contribue à réduire l’enflure utérine, apaise les douleurs après l’accouchement, et favorise l’élimination des déchets utérins. En stimulant les contractions utérines, il encourage un retour plus rapide à la forme normale de l’utérus. De plus, il aide à relâcher le stress et la tension, favorisant ainsi la détente des mamans en période post-partum.')">Réserver</button>
            </div>
        </div>
        <div class="first" id="massage3">
            <div ><img src="http://localhost/zenmom/zenmom-a-jour/images/lymph.jpg" alt="massage Lymphatique"></div>
        <div class="second">
                <h2>Lymphatic massage</h2>
                <p>Un massage lymphatique post-partum est une technique de massage spécialisée et qui vise à stimuler le système lymphatique pour réduire le gonflement, favoriser la circulation lymphatique, aider à l'élimination des toxines et accélérer le processus de récupération post-partum. Ce type de massage peut contribuer à soulager le gonflement et l'inconfort post-accouchement et est souvent recherché par les femmes pendant la période post-partum.
                    <br>à partir de 30€</p>
                    <button class="btn btnM" onclick="reserver('massage3','/images/lymph.jpg','Massage Lymphatique','Un massage lymphatique post-partum est une technique de massage spécialisée et qui vise à stimuler le système lymphatique pour réduire le gonflement, favoriser la circulation lymphatique, aider à l’élimination des toxines et accélérer le processus de récupération post-partum. Ce type de massage peut contribuer à soulager le gonflement et l’inconfort post-accouchement et est souvent recherché par les femmes pendant la période post-partum.')">Réserver</button>
            </div>
        </div>
        <div class="first" id="massage4">
            <div ><img src="http://localhost/zenmom/zenmom-a-jour/images/sel.jpg" alt="massage au sel d'himalaya"></div>
        <div class="second">
                <h2>Himalayan salt massage</h2>
                <p>Le massage au sel de l'Himalaya présente plusieurs bienfaits, notamment l'exfoliation naturelle de la peau, éliminant les cellules mortes et améliorant la texture de la peau. Les minéraux présents dans le sel de l'Himalaya nourrissent la peau et peuvent aider à restaurer son équilibre naturel. Ce type de massage favorise la détente, réduit le stress et apporte une sensation de bien-être. De plus, il stimule la circulation sanguine, contribuant à une peau plus saine.
                    <br>à partir de 30€</p>
                    <button class="btn btnM" onclick="reserver('massage4','/images/sel.jpg','Massage au sel d’Himalaya','Le massage au sel de l’Himalaya présente plusieurs bienfaits, notamment l’exfoliation naturelle de la peau, éliminant les cellules mortes et améliorant la texture de la peau. Les minéraux présents dans le sel de l’Himalaya nourrissent la peau et peuvent aider à restaurer son équilibre naturel. Ce type de massage favorise la détente, réduit le stress et apporte une sensation de bien-être. De plus, il stimule la circulation sanguine, contribuant à une peau plus saine.')">Réserver</button>
            </div>
        </div>
    
    </section>
</main>
{% endblock %}
