/***********************donnees personnelle apres connexion ****************/

aside{
    width: 325px;
    height: 600px;
    background-color: #F2E7DC;
    border-radius: 100px 100px 0 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fjalla One';   
    font-size: 20px;
}
#imgperso{
    width: 215px;
    height: 139px;
    background-color: white;
    border: 1px solid rgba(235, 226, 226, 0.363);
    border-radius:30px 30px 0 0 ;
    margin: 0 auto;
    margin-bottom: 30px;
}
button {
    margin: 15px 0;
    width: 301px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    color: #5D3222;
    font-size: 16px;
    margin-left: 10px;
    font-family: 'Fjalla One';
}
#info{
  
    background-color: #C9856C;
    color: white;
}
.container1{
    width: 877px;
    height: 600px;
    background-color: #F2E7DC;
    border-radius: 30px 30px 0 0;
    margin: 0 auto;
    font-family: 'Fjalla One';
    color: #5D3222;
    font-size: 20px;
}
h2{
    color: #5D3222;
    font-size: 24px;
    border-bottom: 3px solid #5D3222;
    padding: 10px 0;
    margin-bottom: 15px;
}
.cordonnee{
    margin: 60px 30px;
}
#lname, #fname, #birthday, #phone, #email{
    width: 350px;
    height: 50px;
    background-color: white;
    border-radius: 12px;
    font-family: 'Fjalla One';
    color: #5D3222;
    font-size: 20px; 
}
#save{
    width: 176px;
    height: 50px;
    border-radius: 0 20px;
    color: white;
    font-family: 'Prata';
    font-size: 20px;
    background-color: #C9856C;    
    margin-left: 75%; 
}

/*********/
