*{
    padding: 0;
    margin: 0;
}

/****************style general******************/
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body {
    
    
    background-color: #fffaf6;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 0px 20px;
    font-family: 'Prata';
    font-size: 16px;
    margin: 0 auto;
}
.grand{
        font-size: 30px;
}
.btnV{
        background: #D9D7C5;
        color: #5D3222;
}
.btnM{
    background: #C9856C;
    color: #D9D7C5;
}
.btn-danger{
    background: #c03d40;
    color: #D9D7C5;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translatex(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.anime {
    animation: fadeIn 5s ease-out;
}
.hidden {
    opacity: 1;
}



/********** compte******************/
.moncompte{
    background: url("../images/beaute-spa.jpg") center fixed ;
    background-size: cover;
    height: 100%;
    width: 100%;   
    display: flex;   
    justify-content: center;
    align-items: center;
    border-radius: 20px 0; 
}

.moncompte input, .moncompte button {
    border: none;
}

#container_formulaire_con, #container_formulaire_ins {
    font-family: 'Fjalla One';
    height: 75%;
    width: 30%;
    background: #F2EAE4;
    border-radius: 0 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#container_formulaire_con form {
    width : 100%;
   
}
#container_formulaire_con form h2{
    
    text-align: center;
   
}
#container_formulaire_con h1{
    text-align: center;
}

#button_register{
  margin-top: 40px;
  display: flex;
}


#container_formulaire_con input {
    font-family: 'Fjalla One';
    font-size: 14px;
    /*padding-left: 10px;*/
}
#container_formulaire_con  button{
    font-size: 25px;

}

#inputEmail,#inputPassword{
    width: 100%;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
}

#email,#emailConfirmation, #pwdConfirmation, #pwd{
    
    width: 100%;
    height: 30px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


a{
    font-family: 'Fjalla One';
    text-decoration: none;
    cursor: pointer;
    color: #5D3222;
    font-size: 16px;
    font-weight: bold;
}



.custom-form-row {
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligne les éléments verticalement au centre */
    justify-content: space-between; /* Aligne les éléments horizontalement au centre */ 
}

.custom-label-class {
    margin-right: 20px; 
    margin-left: 13px;
}
.alert {
    color: red;
}

#Connexion img {
    width: 100px; /* Ajuste la taille du logo selon  préférences */
    height: auto; /* Garde le ratio de l'image */
    margin-bottom: 20px; /* Ajoute un espace en dessous du logo */
    margin-top: 20px; /* Ajoute un espace en haut du logo */
}

#Connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}



#divM{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#divM a{
    font-family: 'Prata';
    text-decoration: none;
    cursor: pointer;
    color: #D9D7C5;
    font-size: 25px;
    
}


#href {
    margin-left: 150px;
    
}

